<h2>Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" formControlName="password">
    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
      <mat-error>
        Password must be at least 6 characters long
      </mat-error>
    }
  </mat-form-field>
  <button mat-raised-button [disabled]="loginForm.invalid"  color="primary" type="submit">Login</button>
</form>

<button mat-button (click)="register()">Register</button>
